body{
    background-image: url("assets/borneo_background.jpg");
    background-repeat: no-repeat;
}
.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.inline, .inline > * {
  display:inline-block;
  vertical-align: middle;
}

div{
  text-align: center;
}
